*{
    padding: 5;
    margin: auto;
}

body{
    background-color: #161c2c;
    color:bisque;
    font-family: varela round;
}

img{
    border-radius: 10%;
}

p.one{
    padding-left: 10%;
    padding-right: 10%;
}

.header{
    padding-top: 20px;
    border-radius: 10px;
    color:blanchedalmond;
}

.description{
    padding: 10px;
}

.s1{
    background-color: rgb(223, 104, 128);
    color:black;
    border-radius: 8px;
}

.navbar{
    display: flex;
    position: relative;
    align-items: center;
    color:black;
    background-color: rgb(236, 222, 97);
    border-radius: 5px;
    justify-content: space-between;
}

.name{
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links{
    height: 100%;
}

.navbar-links ul{
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links ul li a  {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links ul li a:hover{
    display: block;
    text-decoration: none;
    color: #8b6bb4;
}

.navbar-links li:hover{
    background-color: black;
    border-radius: 5px;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    width: 30px;
    height: 20px;
    justify-content: space-between;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    margin: .5px;
    background-color: black;
    border-radius: 10px;
}

@media (max-width:400px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button{
      display: flex;
    }

    .navbar-links{
      display:none;
      width: 100%;
    }

    .navbar-links ul{
      width: 100%;
      flex-direction: column;
    }

    .navbar-links ul li{
       text-align: center;
    }

    .navbar-links ul li a{
       padding: .5rem 1rem;
    }

    .navbar-links.active{
      display: flex;
    }    
}